# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Uploads & HLS (runtime data - DB bilan mos kelmasligi mumkin)
uploads/
hls-output/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Angular
.angular/

# TypeScript
*.js.map

# Docker
.docker/
